body {
<<<<<<< HEAD
    background-color: purple;
    border: 2px solid dashed;

=======
    background-color: brown;
    margin: 0;
    border: solid 1px black;
>>>>>>> feature/homepage-design
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}